.craftsman-list {
    padding: 20px;
    background-color: #f0f0f0;
  }
  
  .craftsman-cards {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
  }
  
  .craftsman-card {
    position: relative;
    height: 400px;
    background-color: #e0e0e0;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  
    display: flex;
    flex-direction: column;
  }
  
  .craftsman-card h3 {
    margin-top: 0;
    color: blue;
  }
  
  .craftsman-card p {
    margin: 10px 0;
  }
  
  .last-review {
    background-color: #d0d0d0;
    padding: 10px;
    border-radius: 4px;
    margin-top: 10px;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 45px;
  }
  
  .craftsman-cards button {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    width: 90%;
    background-color: blue;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 0;
    text-align: center;
  }
  
  .craftsman-cards button:hover {
    background-color: rgb(98, 98, 255);
  }
