.header {
  background-color: #f8f9fa;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
} 
.header nav ul li {
  display: inline;
  margin: 0 10px;
}
nav {
  list-style: none;
  display: flex;
  gap: 20px;
  margin: 0;
  padding: 0;
}  
a{
  text-decoration: none;
  color: #333;
}
.headerLogo {
  width: 60px;
  height: auto;
}
li {
  padding: 20px;
}
li:hover {
  background-color: #f0f0f0;
}
h1 {
  padding-left: 10%;
}